.navbar {
  grid-area: nav;
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: var(--background-secondary);
  color: var(--foreground-primary);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  width: 220px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
}

header {
  color: var(--foreground-primary);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

header img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-links a {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  color: var(--foreground-primary);
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: .5rem;
}

.navbar-links a:hover {
  color: var(--foreground-nav);
  background-color: var(--background-tertiary);
  text-decoration: underline;
}

.theme-button {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--foreground-primary);
  cursor: pointer;
}

@media (max-width: 1075px) {
  .navbar {
    width: 180px;
  }

  h1 {
    font-size: 1rem;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 725px) {
  .navbar {
    position: fixed;
    height: 60px;
    z-index: 99;
    border-bottom: 1px solid var(--foreground-tertiary);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--background-secondary);
  }

  .navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 1rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  header h1 {
    margin-left: 1rem;
    font-size: 1.25rem;
  }

  header img {
    margin: 0;
  }

  .menu-icon {
    display: block;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    width: calc(100% - 2rem);
    left: 1rem;
    right: 0;
    background-color: var(--background-secondary);
    flex-direction: column;
    padding: 1rem;
    z-index: 98;
  }

  .navbar-links.active {
    display: flex;
  }

  .theme-button {
    position: relative;
  }
}